<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
</head>
<body>
    <h1>Hoş geldiniz!</h1>
    <p>Burası ana sayfa. Oyun başlatmak için aşağıdaki butona tıklayın:</p>
    <a href="{{ url_for('game1_bp.index') }}">
        <button>Oyun1 Başla</button>
    </a>
    <a href="{{ url_for('game2_bp.index') }}">
        <button>Oyun2 Başla</button>
    </a>
    <a href="{{ url_for('game3_bp.index') }}">
        <button>Oyun3 Başla</button>
    </a>
    <a href="{{ url_for('memory_game_bp.memory_game') }}">
        <button>Oyun4 Başla</button>
    </a>
</body>
</html>